version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    groups:
      all:
        patterns:
          - "*"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
  - package-ecosystem: "npm"
    directory: "/"
    groups:
      all:
        patterns:
          - "*"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
  - package-ecosystem: "gradle"
    directories:
      - "/"
      - "/plugin-build"
    groups:
      all:
        patterns:
          - "*"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
