# 全ファイルを無視
*

!.gitignore
!.gitkeep

!*.kt

!/.github/
!/.github/workflows/
!/.github/workflows/*.yml
!/.github/dependabot.yml
!/.github/zizmor.yml

!/config/
!/config/*.yml

!/example/
!/example/gradle/
!/example/gradle/wrapper/
!/example/gradle/wrapper/*.jar
!/example/gradle/wrapper/*.properties
!/example/gradle/*.toml
!/example/build.gradle.kts
!/example/gradlew
!/example/gradlew.bat
!/example/*.properties
!/example/*.gradle.kts

!/gradle/
!/gradle/wrapper/
!/gradle/wrapper/*.jar
!/gradle/wrapper/*.properties
!/gradle/*.properties
!/gradle/*.toml

!/plugin-build/
!/plugin-build/gradle/
!/plugin-build/gradle/*.toml
!/plugin-build/plugin/
!/plugin-build/plugin/src/
!/plugin-build/plugin/src/**/
!/plugin-build/plugin/src/**/*.properties
!/plugin-build/plugin/build.gradle.kts
!/plugin-build/plugin/*.xml
!/plugin-build/*.gradle.kts
!/plugin-build/*.properties

!/AGENT.md
!/bumpver.toml
!/commitlint.config.cjs
!/gradle.properties
!/gradlew
!/gradlew.bat
!/lefthook.yaml
!/LICENSE
!/NOTICE
!/mise.toml
!/README.md
!/*.gradle.kts
